:host ::ng-deep {
    $bgTab: #F3F6F9;
    //@media (min-width: 1025px) {
    //    .tab-root > nz-tabs-nav {
    //        padding: 0 30px;
    //    }
    //}
    //@media (min-width: 1499px) {
    //    .tab-root > nz-tabs-nav {
    //        padding: 0 60px;
    //    }
    //}

    .tab-root > nz-tabs-nav > .ant-tabs-nav-container > .ant-tabs-nav-wrap > div.ant-tabs-nav-scroll > div.ant-tabs-nav {
        border-color: transparent;
        background: transparent;

        > div > div.ant-tabs-tab {
            padding: 0;

            .title-tab {
                padding: 8px 16px;
            }
        }

        > div > div.ant-tabs-tab-active {
            //border-color: $bgTab;
            background: $bgTab;
            border-bottom-color: $bgTab;
        }

        ::before {
            //display: none;
        }
    }

    .tab-root > .ant-tabs-content {
        margin-top: -16px;

        > .ant-tabs-tabpane {
            background: $bgTab;
            padding: 5px 0px 10px;
        }
    }

}

.tab-root .tab-root-content {
    //padding-top: 5px;
    //padding-bottom: 10px;
    @media (min-width: 1025px) {
        min-height: 500px;
    }
    @media (min-width: 1499px) {
        min-height: 730px;
    }

}

//:host {
//    background: #f5f5f5;
//    overflow: hidden;
//    //padding: 24px;
//    display: block;
//}

