<ora-page-header title="Nhóm chất dinh dưỡng" [action]="actionHeader">
    <ng-template #actionHeader>
        <dropdown-up-excel (onUpload)="onClickUpload($event)"
                            urlMauFile="/assets/sampleFiles/ImportNhomDinhDuong.xlsx"
                            [itemMenu1]="excelMenu1"
        >
            <ng-template #excelMenu1>
                <button class="margin-left-5" title="Xuất danh sách ra excel"
                        type="button" nz-button nzType="link"
                        (click)="exportExcel()">
                    <i nz-icon nzType="export" nzTheme="outline"></i> Xuất Excel
                </button>
            </ng-template>
        </dropdown-up-excel>
        <button nz-button nzType="primary"
                (click)="showCreateOrEditModal()"><i class="fa fa-plus"></i>Thêm mới
        </button>
    </ng-template>
</ora-page-header>

<ora-layout-filter (onSearch)="refresh()">
    <form nz-form [formGroup]="rfFormGroup" nzLayout="vertical" (ngSubmit)="refresh()">
        <nz-row nzGutter="8">
            <nz-col nzLg="8" nzSm="12">
                <input formControlName="filter" nz-input placeholder="Tìm kiếm từ khóa"/>
            </nz-col>
            <nz-col nzLg="4" nzSm="8">
                <nz-select formControlName="isActive" style="width: 100%" nzPlaceHolder="Trạng thái"
                           [nzCustomTemplate]="defaultTemplate">
                    <ng-template #defaultTemplate let-selected>
                        <i *ngIf="selected.nzValue" class="text-success" nz-icon nzType="check" nzTheme="outline"></i>
                        <i *ngIf="!selected.nzValue" class="text-danger" nz-icon nzType="close" nzTheme="outline"></i>
                        {{ selected.nzLabel }}
                    </ng-template>
                    <nz-option nzLabel="Kích hoạt" [nzValue]="true" nzCustomContent>
                        <i class="text-success" nz-icon nzType="check" nzTheme="outline"></i>Kích hoạt
                    </nz-option>
                    <nz-option nzLabel="Không kích hoạt" [nzValue]="false" nzCustomContent>
                        <i class="text-danger" nz-icon nzType="close" nzTheme="outline"></i>Không kích hoạt
                    </nz-option>
                </nz-select>
            </nz-col>
        </nz-row>
    </form>
</ora-layout-filter>

<nz-table [nzData]="dataList" nzShowSizeChanger [nzFrontPagination]="false"
          [nzLoading]="isTableLoading" [nzTotal]="totalItems"
          [nzShowTotal]="totalTpl"
          [(nzPageIndex)]="pageNumber"
          [(nzPageSize)]="pageSize"
          nzBordered="true"
          (nzPageIndexChange)="pageNumberChange()" (nzPageSizeChange)="refresh()">
    <thead (nzSortOrderChange)="gridSort($event)">
        <tr>
            <th class="text-center" width="10px">STT</th>
            <th width="80px">Thao tác</th>
            <th nzShowSort [nzSortFn]="true" nzColumnKey="tenVi">Tên (Vi)</th>
            <th nzShowSort [nzSortFn]="true" nzColumnKey="tenEn">Tên (En)</th>
            <th class="text-center" nzColumnKey="strLoai">Loại</th>
            <th class="text-center" nzShowSort [nzSortFn]="true" nzColumnKey="isActive">Trạng thái</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let dataItem of dataList;index as i">
            <td class="text-center">{{skipCount + i + 1}}</td>

            <td>
                <button nz-button nzType="link" nz-dropdown [nzDropdownMenu]="menu" nzTrigger="click">
                    <i nz-icon nzType="more" nzTheme="outline"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu nzSelectable>
                        <li nz-menu-item (click)="showCreateOrEditModal(dataItem)"
                            style="padding-right: 60px;font-size: 15px;">
                                                            <span class="kt-font-success">
                                                                <i nz-icon nzType="edit" nzTheme="outline"></i> Sửa
                                                            </span>
                        </li>
                        <li nz-menu-item (click)="delete(dataItem)"
                            style="padding-right: 60px;font-size: 15px;">
                                                            <span class="kt-font-danger">
                                                                <i nz-icon nzType="delete" nzTheme="outline"></i> Xóa
                                                            </span>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </td>
            <td>
                {{dataItem.tenVi}}
            </td>
            <td>
                {{dataItem.tenEn}}
            </td>
            <td class="text-center">
                {{dataItem.strLoai}}
            </td>
            <td class="text-center">
                <i title="Kích hoạt" *ngIf="dataItem.isActive" class="text-success" nz-icon nzType="check"
                    nzTheme="outline"></i>
                <i title="Không kích hoạt" *ngIf="!dataItem.isActive" class="text-danger" nz-icon nzType="close"
                    nzTheme="outline"></i>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTpl let-range="range" let-total>
    <span class="kt-font-primary kt-font-bold">Tổng số bản ghi: {{total}}</span>
</ng-template>
