.border-nhucau{
    border-style: outset;
    text-align: center;
}
.title-nhu-cau{
    color: #0abb87;
    font-weight: bold;
}

.title-ten-dinh-duong{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
.bold{
    font-weight: bold;
}
.background-0{
    background-color: #b7ffd1;
}
.background-1{
    background-color: #ddffea;
}
.background-2{
    background-color: #C9F7F5;
}
.background-3{
    background-color: #f7ffc4;
}
.padding-left-55{
    padding-left: 55px;
}
.padding-left-41{
    padding-left: 41px;
}
.padding-left-35{
    padding-left: 35px;
}
